# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\OneDrive\Komputery\WETI\INF-INŻ\WETI[notatki]\S05\[AUI]-ARCHITEKTURY-USŁUG-INTERNETOWYCH\SimpleRPG\SpringRest\BE_web_crawler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
